<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <script src="/material.min.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <title>Robot World</title>
</head>
<body>
<div class="mdl-color--indigo-700">
  <div class="mdl-layout__header-row">
    <h1 class="mdl-spinner__layer-2 "><a href="/">Robot World</a></h1>
    <h2>Alex Tideman</h2>
  </div>
  <section class="border">
  </section>
  <section class="side-panel">
    <section class="panel-border">
    </section>
  </section>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>