<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Robot World</title>
</head>
<body>
<div class="wrapper">
  <section class="banner">
    <h1><a href="/">Robot World</a></h1>
    <h2>Alex Tideman</h2>
  </section>
  <section class="border">
  </section>
  <section class="side-panel">
    <section class="panel-border">
    </section>
  </section>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>